<html>
<head>
    <title>updateUser</title>

</head>
<body>
    <%- include("partials/errors.ejs") %>
    <h1>Update User</h1>
 
    <form action="/users/<%= user.id %>/update" method="POST">
        <input type="text" name="firstName" value="<%=user.firstName%>" required>
        <input type="text" name="lastName" value="<%= user.lastName %>" required>
        <button type="submit">Update User</button>
    
    </form>
</body>


</html>

